<div class="col-md-10 mx-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h2>本日の出勤</h2>
    <div class="">出勤人数 <span class="fs-2 fw-bold">0</span> 人</div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>名前</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>10:00</td>
        <td>14:00</td>
      </tr>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>10:00</td>
        <td>14:00</td>
      </tr>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>10:00</td>
        <td>14:00</td>
      </tr>
    </tbody>
  </table>
</div>
