<div class="text-center mt-5">
  <h1 class="fw-bold">422</h1>
  <p class="fs-2">Unprocessable Entity</p>
  <p>リクエストの処理中にエラーが発生しました。通常、送信されたデータが無効または不完全な場合にこのエラーが発生します。入力した情報を確認して、再度お試しください。</p>

  <%= link_to "トップページに戻る", root_path %>
</div>
