.simple-calendar {
  td {
    padding: 0;
  }
  .today {
    background: #ddd;
  }

  .prev-month {
    opacity: .5;
  }
  .next-month {
    opacity: .5;
  }
}

.calendar-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 6px;

  &.attended {
    background-color: rgb(141, 239, 141);
  }
}
