<% content_for(:title, "カレンダー") %>

<%= month_calendar do |date| %>
  <%= link_to date_attendances_path(date: date), class: 'calendar-link' do %>
    <%= date.day %>
  <% end %>
<% end %>

<div class="mt-5 w-50 mx-auto">
  <dl class="mt-4">
    <h3>勤務日数</h3>
    <div class="d-flex">
      <dt class="col-8">平日勤務日数</dt>
      <dd class="col-4">4日</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">土日・祝日勤務日数</dt>
      <dd class="col-4">4日</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">総勤務日数</dt>
      <dd class="col-4">4日</dd>
    </div>
  </dl>
  <dl class="mt-4">
    <h3>勤務時間</h3>
    <div class="d-flex">
      <dt class="col-8">平日勤務時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">土日・祝日勤務時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">合計勤務時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
  </dl>
  <dl class="mt-4">
    <h3>残業時間</h3>
    <div class="d-flex">
      <dt class="col-8">平日残業時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">土日・祝日残業時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">合計残業時間</dt>
      <dd class="col-4">16時間</dd>
    </div>
  </dl>
  <dl class="mt-4">
    <h3>支給額</h3>
    <div class="d-flex">
      <dt class="col-8">平日支給額</dt>
      <dd class="col-4">16000円</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">土日・祝日支給額</dt>
      <dd class="col-4">16000円</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">特別日支給額</dt>
      <dd class="col-4">0円</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">特別日手当</dt>
      <dd class="col-4">0円</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">交通費</dt>
      <dd class="col-4">300円</dd>
    </div>
    <div class="d-flex">
      <dt class="col-8">総支給額</dt>
      <dd class="col-4">36800円</dd>
    </div>
  </dl>
</div>